body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body > img {
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7em;
}

#input-area {
    position: absolute;
    top: calc(50% + 1em + 5px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 2em;
    padding: 5px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: thin;
}

#greeting {
    color: white;
    font-style: italic;
    font-size: 2.5em;
    margin: 0;
    padding: 0 0 0.5em 0;
}

#login-form input[type="submit"] {
    display: none;
}

#login-form input[placeholder="What is your name?" ],
#todo-form input[placeholder="Write a To Do and Press"] {
    text-align: center;
}

#todo-list {
    max-height: 135px;
    max-width: 400px;
    min-width: 0.5px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) transparent;
    margin: 0;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list:hover {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.5) transparent;
}

#todo-list:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

#todo-list:hover::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

#todo-list:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 2px solid transparent;
}

#todo-list li {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    list-style: none;
}

.todo-remove-btn {
    border: none;
    background: transparent;
    color: white;
    width: 24px;
    height: 24px;
    font-weight: bold;
    cursor: pointer;
}

#quote {
    color: white;
    position: fixed;
    bottom: 20px;
    font-style: italic;
}

#quote > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    top: 20px;
    right: 20px;
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

#weather span:last-child {
    font-weight: thin;
    font-size: 15px;
}

.hidden {
    display: none;
}